/* box---1 */

.flip-box {
background-color: transparent;
width: 300px;
height: 200px;
border: 1px solid #f1f1f1;
perspective: 1000px;
}
.flip-box-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d; 
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box h2 ,p{
  animation-duration: 1s;
}
.flip-box:hover .flip-box-back h2 , p{
  animation-name: move-flip-1;
}
@keyframes move-flip-1{
  0%{
    transform: translateY(500px);
    
  }
  50%{
    transform: translateY(400px);
    
  }
  100%{
    transform: translate(0px);
    
  }
}
.flip-box-front {
  background-color: #bbb;
  color: black;
}
.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

/* box---2 */

.flip-box-2 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-box-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box-2:hover .flip-box-inner-2 {
  transform: rotateY(-180deg);
}
.flip-box-front-2, .flip-box-back-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-back-2 h2 ,p{
  animation-duration: 1s;
}
.flip-box-2:hover .flip-box-back-2 h2 , p{
  animation-name: move-flip-2;
}
@keyframes move-flip-2{
  0%{
    transform: translateY(500px);
    
  }
  50%{
    transform: translateY(400px);
    
  }
  100%{
    transform: translate(0px);
    
  }
}
.flip-box-front-2 {
  background-color: #bbb;
  color: black;
}
.flip-box-back-2 {
  background-color: #555;
  color: white;
  transform: rotateY(-180deg);
}
/* box---3 */

.flip-box-3 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-box-inner-3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box-3:hover .flip-box-inner-3 {
  transform: rotatex(-180deg);
}
.flip-box-front-3, .flip-box-back-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-back-3 h2 ,p{
  animation-duration: 1s;
}
.flip-box-3:hover .flip-box-back-3 h2 , p{
  animation-name: move-flip-3;
}
@keyframes move-flip-3{
  0%{
    transform: translateY(500px);
    
  }
  50%{
    transform: translateY(400px);
    
  }
  100%{
    transform: translate(0px);
    
  }
}

.flip-box-front-3 {
  background-color: #bbb;
  color: black;
}
.flip-box-back-3 {
  background-color: #555;
  color: white;
  transform: rotatex(-180deg);
}

/* box----4 */

.flip-box-4 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-box-inner-4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box-4:hover .flip-box-inner-4 {
  transform: rotatex(180deg);
}
.flip-box-front-4, .flip-box-back-4{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-back-4 h2 ,p{
  animation-duration: 1s;
}
.flip-box-4:hover .flip-box-back-4 h2 , p{
  animation-name: move-flip-4;
}
@keyframes move-flip-4{
  0%{
    transform: translateY(500px);
    
  }
  50%{
    transform: translateY(400px);
    
  }
  100%{
    transform: translate(0px);
    
  }
}
.flip-box-front-4 {
  background-color: #bbb;
  color: black;
}
.flip-box-back-4 {
  background-color: #555;
  color: white;
  transform: rotatex(180deg);
}
