*{
  padding: 0;
  margin: 0;
}

.box{
  margin-top: 9px;
  padding: 4px;
  border: 1px solid black;
  margin-bottom: 9px;
  background-color: skyblue 
}

.box1{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(12, 107, 20, 0.925);
  color: aliceblue;
}

.box2{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(83, 111, 237, 0.925);
  color: aliceblue;
}

.box3{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(100, 34, 108, 0.925);
  color: aliceblue;
}

.box4{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(168, 50, 181, 0.925);
  color: aliceblue;
}

.box5{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(224, 79, 240, 0.925);
  color: aliceblue;
}

.box6{
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 9px;
  background-color: rgba(223, 42, 29, 0.925);
  color: aliceblue;
}
