body{
    margin: 0;
}

.maindiv{
    height:700px;
    width: 1000px;
    background-color: gray;
    position: relative;
}

.box-1{
    height:100px;
    width: 100px;
    background-color: brown;
    position: absolute; 
}

.box-2{
    height: 100px;
    width: 100px;
    background-color: pink;
    left:0;
    right: 0;
    margin: auto;
    position: absolute;
}

.box-3{
    height: 100px;
    width: 100px;
    background-color: tomato;
    right: 0;
    top: 0;
    position: absolute;
    margin: auto;
}

.box-4{
    height:100px;
    width: 100px;
    background-color: blueviolet;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
}

.box-5{
    height: 100px;
    width: 100px;
    background-color: orange;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.box-6{
    height: 100px;
    width: 100px;
    background-color: purple;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.box-7{
    height: 100px;
    width: 100px;
    background-color: aqua;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
}

.box-8{
    height: 100px;
    width: 100px;
    background-color: green;
    bottom: 0;
    left:0;
    right:0;
    position:absolute;
    margin: auto;
    
}

.box-9{
    height: 100px;
    width: 100px;
    background-color: red;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.boxx-1{
    height: 20px;
    width: 20px;
    background-color: black;
    position: absolute;
    margin: auto;
    
}

.boxx-2{
    height: 20px;
    width: 20px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-3{
    height: 20px;
    width: 20px;
    background-color: black;
    top: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-4{
    height: 20px;
    width: 20px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-5{
    height: 20px;
    width: 20px;
    background-color: black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-6{
    height: 20px;
    width: 20px;
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-7{
    height: 20px;
    width: 20px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;    
}

.boxx-8{
    height: 20px;
    width: 20px;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}

.boxx-9{
    height: 20px;
    width: 20px;
    background-color: black;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    
}