 .complex {
    background-color: blueviolet;
    text-align: center;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.v-1{
    display: flex;
    
    

}
.first{
    background-color: aqua;
    height: 500px;
    margin: 10px;
    width: 500px;
     font-family:  Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.Second{
    background-color: aqua;
    height: 500px;
    width: 500px;   
    margin: 10px; 
     font-family:  Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.Third {
    background-color: aqua;
    height: 500px;
    width: 500px;
    margin: 10px;
    bottom: unset;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.Third, button{
    size: 100px;
    margin: 20px;
    
}
