  .maindiv{

    hight: 600px;
    width: 1000px;
    background-color: gray;
    /* position: relative; */
    
  }
 
.div-1{
    height: 130px;
    width: 130px;
    background-color: red;
    position: absolute;
    right: 0;
}
.div-2{ 
    height: 120px;
    width: 120px;
    background-color: green;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.div-3{
    height: 110px;
    width: 110px;
    background-color: blue;
    position: absolute;
    bottom: 0;
}
.div-4{
    height: 100px;
    width: 100px;
    background-color: purple;
    position: absolute;
    right: 0;
    bottom: 0;
}
.div-5{
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 
    auto;
}
.div-6{
    height: 80px;
    width: 80px;
    background-color: brown;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.div-7{
    height: 70px;
    width: 70px;
    background-color: yellow;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
}
.div-8{
    height: 60px;
    width: 60px;
    background-color:orange;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.div-9{
    height: 50px;
    width: 50px;
    background-color: tomato;
    position: absolute;
}